#home-div {
    background-color: royalblue;
    width: 100%;
    border: solid #ED2939 10px;
    border-radius: 25px;
    margin-bottom: 10px;
}

#home-header{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

#recipe-link{

}